{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6 bg-white rounded my-3 p-5">
                <h1>Login de la prueba</h1>
                 <h1 class="h3 mb-3 font-weight-normal"></h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Contraseña</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <button class="btn btn-lg btn-primary" type="submit">
                    Entrar
                </button>

                <a href="{{ path('registrousuario') }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Registrar nuevo usuario</a>


            </div>
        </div>
    </div>

</form>
{% endblock %}
