{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} - Dashboard
{% endblock %}

{% block body %}
    {{parent()}}

    <div class="container">
        <div class="row">
            <div class="col">
            1 of 3
            </div>
            <div class="col">
            2 of 3
            </div>
            <div class="col">
            3 of 3
            </div>
        </div>
        <div class="row">
            <div class="col">
            1 of 3
            </div>
            <div class="col">
            2 of 3
            </div>
            <div class="col">
            3 of 3
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 cursor">
                {% for publicacion in pagination %}

                    <div class="bg-white rounded p-3 my-3"  onclick="window.location.href='#'">
                        <div class="d-flex bd-highlight">

                                <div class="p-2 flex-grow-1 bd-highlight">
                                    <div class="p-2 bd-highlight">
                                    <div class="align-self-center">
                                        <img class="rounded" src="#" width="150px">
                                    </div>
                                </div>
                                <h5>{{publicacion.titulo}}</h5>
                                <div class="my-3 bg-black"> 
                                    <p>{{publicacion.descripcion}}</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
